
body {
  background: url('../imagens/bg.png') no-repeat;
  background-size:cover;

}
img{
  height: 50px;
  width: 50px;

}
.logo{
  height: 200px;
  width: 200px;
}

.figure-caption {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-top: 4px;
}
.btn{
  border-radius: 20px;
}
.card {
  background-color: transparent  0.9;
  border-radius: 40px;

}
.label-termos {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-top: 20px;
  font-size: 14px;
}

#video {
  width: 100%;
  height: auto;
  min-height: 300px;
}
