body {
  background: url('../imagens/bg.png') no-repeat;
  background-size: cover;
}

img {
  height: 100px;
  width: 100px;
}

i {
  padding: 1px;
}

.span {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 11.5px;
}

.card {
  border-radius: 30px;
  margin-top: 10px;
  width: 95%;

}
.card-deck{
  display: flex;
  margin: 0;
}

img{
  height: 120px;
  width:120px;

}
